/*agm-map {*/
  /*height: 600px;*/
/*}*/

#mapid { height: 800px; }

.leaflet-popup-content {
  width:auto !important;
}
.leaflet-popup-tip-container {
  left: 190px !important;
}

.marker-cluster-large div {
  background-color: rgba(16, 168, 255, 0.6);
}
.marker-cluster-large {
  background-color: rgba(58, 183, 255, 0.6);
}
.marker-cluster-medium div {
  background-color: rgba(92, 196, 255, 0.6);
}
.marker-cluster-medium {
  background-color: rgba(126, 208, 255, 0.6);
}
.marker-cluster-small div {
  background-color: rgba(160, 220, 255, 0.6);
}
.marker-cluster-small {
  background-color: rgba(194, 233, 255, 0.6);
}
